*{
    background-color: #d5d5d5;
}

h1{
    color: #030060;
    font-family: "Georgia", monospace;

}

h3{
    color: #030060;
    font-family: 'Arial Narrow Bold', sans-serif;
}

p{
    color: #030060;
    font-family: cursive;
}